body {
  background-color: #eee;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  width: 60vw;
}

.logo > img {
  width: 100%;
  max-width: 300px;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #eee;
}
/*modification*/

#features {
  margin-top: 100px;
}

.grid {
  display: flex;
  justify-content: center;
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 50vw;
  padding: 5px;
}
#pricing {
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center
}
.product {
  border-style: solid;
  border-color: red;
  margin: 10px;
  width: 33%;
}