body {
  background-color: #eee;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #eee;
}

nav {
  border: solid;
  width: 100vw;
}

nav li{
  list-style: none;
}

nav>ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 80vw;
}

nav a{
  color:chocolate;
  text-decoration: underline;
}
.logo{
  border: solid;
  color: aqua;
}